<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div style="padding-bottom: 10px">
    <form method="GET" action="/priceSearch">

        Поиск:
        <input type="text" name="search" th:value="${currentSearchString}" size="100">
        <input type="submit" value="Найти"></br>

    </form>
</div>

<table class="search-result-table">
    <thead>
    <tr>
        <th width="150px"> s.code </th>
        <th width="150px"> v.code </th>
        <th width="500px"> Name </th>
        <th width="100px"> Price </th>
        <th width="80px"> Stock </th>
        <th width="80px"> Supplier </th>
        <th width="100px"> Date </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${items.empty}">
        <td colspan="2"> Nothing found </td>
    </tr>
    <tr th:each="item : ${items}">
        <td><span th:text="${item.scode}"> </span></td>
        <td><span th:text="${item.vcode}"> </span></td>
        <td><span th:text="${item.name}"> name </span></td>
        <td><span th:text="${item.price}"> price </span></td>
        <td><span th:text="${item.stock}"> </span></td>
        <td><span th:text="${item.supplier}"> </span></td>
        <td><span th:text="${item.priceDate}"> </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>